.about_achivements{
    margin-top: 3rem;
}
.about_achivements-container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}
.about_achivements-right > p{
    margin: 1.6rem 0 2.5rem;
}
.archivements_cards{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 1.5rem;
}
.archivement_card {
    background: indianred;
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: all;
}
.archivement_card:hover{
    background: tan;
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.3);
}
.achiv_icon{
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.archivement_card:nth-child(2) .achiv_icon{
    margin-top: 2rem;
}
.archivement_card p{
    margin-top: 1rem;
}




.team{
    background: rgb(97, 69, 64);
    box-shadow: inset 0 0 3rem rgba(0,0,0,0.5);
}
.team_container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 2rem;
}
.team_member{
    background: indianred;
    padding: 2rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    transition: all;
    position: relative;
    overflow: hidden;
}
.team_member:hover{
    background: transparent;
    border-color: maroon;
}
.team_member-image img{
    filter: saturate(0);
}
.team_member:hover img{
    filter: saturate(1);
}
.team_member-im{
    height: 1rem;
    width: 1rem;
}
.team_member_info *{
    text-align: center;
    margin-top: 1.4rem;
}
.team_member_info h4{
    color: white;
}
.team_member_info p{
    color: bisque;
}
.team_member-socials{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;
    display: flex;
    flex-direction: column;
    background-color: pink;
    border-radius: 1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0,0,0,0.3);
    transition: all;
}
.team_member:hover .team_member-socials{
    right: 0;
}
.team_member-socials a{
    padding: 1rem;
}




@media screen and (max-width :1024px) {
    .about_achivements{
        margin-top: 2rem;
    }
    .about_achivements-container{
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    .about_achivements-left{
        width: 80%;
        margin: 0 auto;
    }



    .team_container{
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
    .team_member{
        padding: 1rem;
    }
    
}




@media screen and (max-width: 600px) {
    .archivements_cards{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    } 
    .team_container{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }
    .team_member{
        padding: 0;
    }
    .team_member p{
        margin-bottom: 1.5rem;
    }
}






